<%= form_with model: @work, class: 'edit-work' do |f| %>


  <% if @work.errors.any? %>
    A problem occured, could not update <%= @work.category %>
    <ul>
      <% @work.errors.each do |column, message| %>
        <div class="error-message red">
          <li>
            <p><%= column %> <%= message %></p>
          </li>
        </div>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :Category %>
    <%= f.select :category, %w[album book movie], include_blank: true %>
  </div>

  <div>
    <%= f.label :Title %>
    <%= f.text_area :title %>
  </div>

  <div>
    <%= f.label :Creator %>
    <%= f.text_area :creator %>
  </div>

  <div>
    <%= f.label :"Publication year" %>
    <%= f.text_area :publication %>
  </div>

  <div>
    <%= f.label :Description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit "#{action_name} Work", class: "work-button" %>
<% end %>