<section class="media-table">
  <h4><%= category %></h4>

  <% if works.length > 0 %>
    <table class="table">
      <tr>
        <th width="80">Votes</th>
        <th>Title</th>
        <th>Created By</th>
        <th width="100">Published</th>
        <th width="100">Upvote</th>
      </tr>

      <% works.each do |work| %>

        <tr>
          <td><%= work.votes.size %></td>
          <td><%= link_to work.title, work_path(work) %></td>
          <td><%= work.creator %></td>
          <td><%= work.publication %></td>
          <td><%= button_to "Upvote", work_votes_path(work.id), method: :post, :class => "btn btn-primary" %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>No <%= category %> yet! </p>
  <% end %>

</section>
