<div class="alert">
  <% if @work.errors.any? %>
    <span>A problem occurred, could not update <%= @work.category %></span>
    <ul>
      <% @work.errors.each do |column, message| %>
        <div class="error-message red">
          <li>
            <p><%= column %> <%= message %></p>
          </li>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>


<h2>Edit This <%= @work.category.capitalize %></h2>

<%= render partial: "form", locals: { action_name: "Edit"} %>