<section class="spotlight">
  <h2><span>Media Spotlight</span>
    <% first_work = @works.first %>
    <%= link_to first_work.title, work_path(first_work.id), method: :get %>
    by <%= first_work.creator %>
  </h2>
  <p>How many votes this has</p>
</section>


<section class="top-ten__container">
  <section class="top-ten__list-container">
    <h2>Top Movies</h2>
    <ul>
      <% unless @movies.nil? %>
        <% @movies.sample(10).each do |movie| %>
          <li>
            <%= link_to movie.title, work_path(movie.id), method: :get %> by <%= movie.creator %>
            <p>XX votes</p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>


  <section>
    <h2>Top Books</h2>
    <ul>
      <% unless @books.nil? %>
        <% @books.sample(10).each do |book| %>
          <li>
            <%= link_to book.title, work_path(book.id), method: :get %> by <%= book.creator %>
            <p>XX votes</p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <section>
    <h2>Top Albums</h2>
    <ul>
      <% unless @albums.nil? %>
        <% @albums.sample(10).each do |album| %>
          <li>
            <%= link_to album.title, work_path(album.id), method: :get %> by <%= album.creator %>
            <p>XX votes</p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
</section>


