<h2>List of Works</h2>

<%= render partial: "table", locals: { category: "Albums", works: @albums } %>
<%= render partial: "table", locals: { category: "Books", works: @books } %>
<%= render partial: "table", locals: { category: "Movies", works: @movies } %>

<%= button_to "View top media", root_path, method: :get, :class => "btn btn-secondary" %>
<%= button_to "Add a new work", new_work_path, method: :get, :class => "btn btn-primary" %>