<!--<div class="alert">-->
  <%# if @works.errors.any? %>
<!--    <span>A problem occurred, could not update <%#= @works.category %></span>-->
<!--    <ul>-->
      <%# @works.errors.each do |column, message| %>
<!--        <div class="error-message red">-->
<!--          <li>-->
<!--            <p><%#= column %> <%#= message %></p>-->
<!--          </li>-->
<!--        </div>-->
      <%# end %>
<!--    </ul>-->
  <%# end %>
<!--</div>-->

<h2>List of Works</h2>

<%= render partial: "table", locals: { category: "Albums", works: @albums } %>
<%= render partial: "table", locals: { category: "Albums", works: @books } %>
<%= render partial: "table", locals: { category: "Albums", works: @movies } %>

<%= button_to "View top media", root_path, :class => "btn btn-secondary" %>
<%= button_to "Add a new work", new_work_path, method: :get, :class => "btn btn-primary" %>