<h2>List of Works</h2>

<h4>Albums</h4>

<% if @albums.size > 0 %>
  <table>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>

    <% @albums.each do |album| %>

      <tr>
        <td>!!XX</td>
        <td><%= link_to album.title, work_path(album) %></td>
        <td><%= album.creator %></td>
        <td><%= album.publication %></td>
        <td>!!!Upvote link</td>
      </tr>
    <% end %>
  </table>
  <% else %>
  <p>No Albums yet! </p>
<% end %>

<h4>Books</h4>

<% if @books.size > 0 %>
  <table>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>

    <% @books.each do |book| %>

      <tr>
        <td>!!XX</td>
        <td><%= link_to book.title, work_path(book) %></td>
        <td><%= book.creator %></td>
        <td><%= book.publication %></td>
        <td>!!!Upvote link</td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No Books yet! </p>
<% end %>

<h4>Movies</h4>

<% if @movies.size > 0 %>
  <table>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th>Published</th>
      <th>Upvote</th>
    </tr>

    <% @movies.each do |movie| %>

      <tr>
        <td>!!XX</td>
        <td><%= link_to movie.title, work_path(movie) %></td>
        <td><%= movie.creator %></td>
        <td><%= movie.publication %></td>
        <td>!!!Upvote link</td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>No Movies yet! </p>
<% end %>
