<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header class="app-header__header">
    <h1>
      <%= link_to "Media Ranker", root_path  %>
      <small>Ranking the Best of Everything</small>
    </h1>
    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item"><%= link_to "View Top Media", root_path %></li>
        <li class="nav-item app-header__nav_item"><%= link_to "View All Media", works_path %></li>
        <li class="nav-item app-header__nav_item"><%= link_to "Add New Work", new_work_path %></li>
      </ul>
      <ul class="nav app-header__user-nav-container">
        <% if session[:user_id] %>
          <li class="nav-item app-header__nav_item">><%= link_to "Log Out", logout_path, method: :post %></li>
          <li class="nav-item app-header__nav_item">><%= link_to "Logged in as #{User.find_by(id: session[:user_id])}", current_user_path, method: :get %></li>
        <% else %>
          <li class="nav-item app-header__nav_item">><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <div class="alert">
    <% flash.each do |name, message| %>
      <span class="alert-<%= name %>">
        <%= message %>
      </span>
    <% end %>
  </div>
  <main><%= yield %></main>
  </body>
</html>
