<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header class="app-header">
    <h1>
      <%= link_to "Media Ranker", root_path  %>
      <small>Ranking the Best of Everything</small>
    </h1>
    <nav class="app-header_nav">
      <ul>
        <li><%= link_to "View Top Media", root_path %></li>
        <li><%= link_to "View All Media", works_path %></li>
        <li><%= link_to "Add New Work", new_work_path %></li>
      </ul>
    </nav>
  </header>
  <main><%= yield %></main>
  </body>
</html>
